<p>
  <strong>Character Name:</strong>
  <%= @character.name %>
</p>

<p>
  <strong>Allegiance:</strong>
  <%= @character.allegiance %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @character.sex %>
</p>

<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
